<!DOCTYPE html>
<html lang="en">

<head>
    <title>VID Service Kiosk</title>
    <link href="../stylesheets/style.css" rel="stylesheet">
    <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100 fixed-top">
        <%- include('./partials/navbar.ejs') %>
    </nav>

    <header id="home" class="d-flex align-items-center justify-content-center">
        <div class="container-fluid header-content text-center">
            <h1>VID Service Kiosk</h1>
            <p>Velg tjenesten du trenger hjelp fra</p>
        </div>
    </header>

    <section class="py-5">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-6 text-center mb-4">
                    <a href="/itsupport" class="btn btn-primary d-block">
                        <img src="images/it.png" alt="IT Support" class="img-fluid mb-2">
                        <div class="button-text">1. linje</div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 text-center mb-4">
                    <a href="/library" class="btn btn-primary d-block">
                        <img src="images/library.png" alt="Library" class="img-fluid mb-2">
                        <div class="button-text">Bibliotek</div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 text-center mb-4">
                    <a href="/nystudent" class="btn btn-primary d-block">
                        <img src="images/timeedit.png" alt="Timeedit & Grupperom" class="img-fluid mb-2">
                        <div class="button-text">Timeedit & Grupperom</div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 text-center mb-4">
                    <a href="/epost" class="btn btn-primary d-block">
                        <img src="images/contact.png" alt="Contact Us" class="img-fluid mb-2">
                        <div class="button-text">Kontakt oss</div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 text-center mb-4">
                    <a href="/log" class="btn btn-primary d-block">
                        <img src="images/contact.png" alt="Besøksregistering" class="img-fluid mb-2">
                        <div class="button-text">Besøksregistering</div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/scripts.ejs') %>
</body>

</html>
