<!DOCTYPE html>
<html lang="en">

<head>
  <title>Log Page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <div class="container mt-5">
    <h1>Log Page</h1>

    <form action="/log/create-ticket" method="POST">
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject" name="subject" required>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="requestTypeId">Request Type ID:</label>
          <input type="text" class="form-control" id="requestTypeId" name="requestTypeId" required>
        </div>
        <div class="form-group col-md-6">
          <label for="userId">User ID:</label>
          <input type="text" class="form-control" id="userId" name="userId" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="ticketTypeId">Ticket Type ID:</label>
          <input type="text" class="form-control" id="ticketTypeId" name="ticketTypeId" required>
        </div>
        <div class="form-group col-md-4">
          <label for="ticketPriorityId">Ticket Priority ID:</label>
          <input type="text" class="form-control" id="ticketPriorityId" name="ticketPriorityId" required>
        </div>
        <div class="form-group col-md-4">
          <label for="ticketStatusId">Ticket Status ID:</label>
          <input type="text" class="form-control" id="ticketStatusId" name="ticketStatusId" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="ticketSourceId">Ticket Source ID:</label>
          <input type="text" class="form-control" id="ticketSourceId" name="ticketSourceId" required>
        </div>
        <div class="form-group col-md-6">
          <label for="ticketAssignedDepartmentZoneId">Assigned Department Zone ID:</label>
          <input type="text" class="form-control" id="ticketAssignedDepartmentZoneId" name="ticketAssignedDepartmentZoneId" required>
        </div>
      </div>

      <div class="form-group">
        <label for="ticketAssignedTeamId">Assigned Team ID:</label>
        <input type="text" class="form-control" id="ticketAssignedTeamId" name="ticketAssignedTeamId" required>
      </div>

      <button type="submit" class="btn btn-primary">Create Ticket</button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>