<!DOCTYPE html>
<html lang="en">

<head>
  <title>VID Service Kiosk</title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100 fixed-top">
    <%- include('./partials/navbar.ejs') %>
  </nav>
  
  <div class="container mt-5">
    <h2>Page Visit Log</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Page</th>
          <th>Visits</th>
        </tr>
      </thead>
      <tbody id="logTableBody">
        <!-- Page visit counts will be inserted here dynamically -->
      </tbody>
    </table>
  </div>

  <%- include('./partials/scripts.ejs') %>
</body>

</html>