<!DOCTYPE html>
<html lang="en">

<head>
  <title>Log Page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <%- include('./partials/head.ejs') %>
  <style>
    body {
      position: relative;
    }

    iframe {
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }

    .floating-text {
      position: fixed;
      top: 110px;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 10px;
      padding: 20px;
      font-size: 18px;
    }
  </style>
</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100 fixed-top">
    <%- include('./partials/navbar.ejs') %>
  </nav>

  <iframe src="https://bnvisitor.no/visitor-registration/site/1b84e38f27aa7134246cb2bc385922f015ff32cb"></iframe>

  <div class="floating-text">
    Fyll inn ditt telefonnummer, navn og evt. bedrift og kven du skal besøke. Da vil det bli sendt ein melding til vedkommende om at du er ankommet.
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
