<!DOCTYPE html>
<html lang="en">

<head>
  <title>VID Service Kiosk</title>
  <link href="../stylesheets/home.css" rel="stylesheet">
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100 fixed-top">
    <%- include('./partials/navbar.ejs') %>
  </nav>

  <div class="embed-responsive embed-responsive-16by9 full-height">
    <iframe class="custom-iframe embed-responsive-item" src="https://kiosk.mazemap.com/v2/?customerid=272&kioskid=c396fae9-c1d2-46cb-bd89-4d08cf82402c" allowfullscreen></iframe>
  </div>

  <%- include('./partials/scripts.ejs') %>
</body>

</html>