<!DOCTYPE html>
<html lang="en">

<head>
  <title>VID Service Kiosk</title>
  <link href="../stylesheets/home.css" rel="stylesheet">
  <%- include('./partials/head.ejs') %>

  <!-- Inline CSS for full-height iframe without scrolling -->
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden; /* Prevent scrolling */
    }

    .full-height {
      height: calc(100vh - 70px); /* Subtract navbar height from the full viewport */
    }

    .custom-iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  </style>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100 fixed-top">
    <%- include('./partials/navbar.ejs') %>
  </nav>

  <div class="embed-responsive embed-responsive-16by9 full-height">
    <iframe class="custom-iframe embed-responsive-item" src="https://use.mazemap.com/#v=1&campusid=704&zlevel=1&center=5.362868,60.378590&zoom=17.5" allowfullscreen></iframe>
  </div>

  <%- include('./partials/scripts.ejs') %>
</body>

</html>
